.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App > .row {
  padding: 20px;
}

.row .row {
  padding: 20px 0;
}

.selected-sort {
  background-color: black;
  color: white;
}

.checkbox-group {
  width: 20em;
  overflow: auto;
}

.checkbox-group p {
  width: 7em;
  text-align: right;
}
.checkbox-group label {
  width: 12em;
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
